---
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import MicrosoftClarity from "../components/MicrosoftClarity.astro";
import "../styles/global.css";
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Apptales</title>
    {
      isProd && (
        <>
          <GoogleAnalytics />
          <MicrosoftClarity />
          <script
            async
            is:inline
            src="https://cdn.apptal.es/tracker.js"
            data-project-id="cmjy7o2cv001eny0loe2of8hf"
          >
            {/* Prevent self-closing */}
          </script>
        </>
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
